button{
  border-radius: 0;
  font-size: 16px;
  text-transform: uppercase;
}

.title{
  margin: 0;
  padding: 30px 0;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

.form-control{
  border-radius: 0;
}

.form-control:focus{
  border: 2px solid var(--btn-primary);
  box-shadow: none;
}

.card{
  margin-bottom: 30px;
  border-radius: 0;
  -webkit-box-shadow: 0 2px 5px var(--box-shadow);
  box-shadow: 0 2px 5px var(--box-shadow);
  -webkit-transition: all var(--translition-time);
  -o-transition: all var(--translition-time);
  transition: all var(--translition-time);
}

.card:hover {
  -webkit-box-shadow: 0 14px 28px var(--box-shadow-darck );
  box-shadow: 0 14px 28px var(--box-shadow-darck );
}

.card-body{
  min-height: 300px;
}

.card-title{
  font-size: 22px;
  font-weight: 700;
}

.btn-success{
  background: var(--btn-success);
  border-color: var(--btn-success);
}

.btn-success:hover{
  background: var(--btn-success-hover);
  border-color: var(--btn-success-hover);
}

.btn-primary{
  background: var(--btn-primary);
  border-color: var(--btn-primary);
}

.btn-primary:hover{
  background: var(--btn-primary-hover);
  border-color: var(--btn-primary-hover);
}

.btn-danger{
  background: var(--btn-danger);
  border-color: var(--btn-danger);
}

.btn-danger:hover{
  background: var(--btn-danger-hover);
  border-color: var(--btn-danger-hover);
}

@media (max-width: 576px){
  .card{
    min-width: auto;
    margin-bottom: 15px;
  }
}

