<h2>Registration</h2>
<form [formGroup]="formRegistration" (submit)= "registration()">
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email" >
    <span style="color: red;" *ngIf="formRegistration.get('email').invalid && formRegistration.get('email').touched"><br>
      <span *ngIf="formRegistration.get('email')['errors']['required']">Please enter email</span>
      <span *ngIf="formRegistration.get('email')['errors']['email']">Enter correct email</span>
    </span>
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter username" formControlName="username">
    <span style="color: red;" *ngIf="formRegistration.get('username').invalid && formRegistration.get('username').touched"><br>
      <span *ngIf="formRegistration.get('username')['errors']['required']">Please enter username</span>
    </span>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
    <span style="color: red;" *ngIf="formRegistration.get('password').invalid && formRegistration.get('password').touched"><br>
        <span *ngIf="formRegistration.get('password')['errors']['required']">Please enter password</span>
        <span *ngIf="formRegistration.get('password')['errors']['minlength']">
          Password must be at least {{formRegistration.get('password')['errors']['minlength']['requiredLength']}} characters
        </span>
    </span>
  </div>
  <div>
    <small id="help" class="form-text text-muted">Already have an account? <a routerLink="/login">Login</a></small>
  </div>
  <br>
  <button type="submit" class="btn btn-primary" [disabled]="formRegistration.invalid">Submit</button>
</form>
