/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
:root {
  --primary-color: #fff;
  --secondary-color: #ddd;
  --background-color: #e5e5e5;
  --text-color: #2d2d2d;
  --text-color-light: #5d5c5d;
  --box-shadow: #b9b9b9;
  /*Button*/
  --btn-primary: #3c7ebb;
  --btn-success: #218838;
  --btn-danger: #bb432c;
  --btn-secondary: #b9b9b9;
}
body{
  background: var(--background-color)!important;
  color: var(--text-color)!important;
}

