<h4>Create projects:</h4>
<button  class="btn btn-primary" (click)="create()">Create project</button>
<h4>List projects:</h4>
<div class="container">
  <div class="row">
    <div class="col-4" *ngFor="let project of projects; let index = index" >
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" >{{project.name_project}}</h5>
          <p class="card-text">{{project.description}}</p>
          <button  class="btn btn-primary" (click)="edit(project)">Edit</button>
          <button class="btn btn-danger" (click)="delete(project)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>

