<div class="modal-header">
  <h4 class="modal-title">Create Project</h4>
</div>
<form [formGroup]="myCreateForm" (ngSubmit)= "submitForm()">
  <div class="modal-boy">
    <div class="container">
      <div class="form-group">
        <label for="name_project">Name project</label>
        <input id="name_project" type="text"
               class="form-control"
               formControlName="name_project" />
      </div>
      <span style="color: red;" *ngIf="myCreateForm.get('name_project').invalid && myCreateForm.get('name_project').touched"><br>
            <span *ngIf="myCreateForm.get('name_project')['errors']['required']">Please enter name project</span>
          </span>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" class="form-control" rows="3" formControlName="description"></textarea>
        <span style="color: red;" *ngIf="myCreateForm.get('description').invalid && myCreateForm.get('description').touched"><br>
            <span *ngIf="myCreateForm.get('description')['errors']['required']">Please enter description project</span>
          </span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="activeModal.dismiss()">Cancel</button>
    <button class="btn btn-success"
            [disabled]="!myCreateForm.valid">
      Submit Form
    </button>
  </div>
</form>
