a{
  color: var(--btn-primary);
}

label{
  margin-bottom: 0;
}

button{
  border-radius: 0;
  font-size: 16px;
  text-transform: uppercase;
}

.auth-title{
  margin: 0;
  padding: 0 0 30px 0;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

.row{
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn-primary{
  width: 100%;
  background: var(--btn-primary);
  border-color: var(--btn-primary) ;
}

.form-container{
  margin-top: 25px;
  padding: 25px;
  background: var(--primary-color);
  -webkit-box-shadow: 0 4px 10px 4px var(--box-shadow);
  box-shadow: 0 4px 10px 4px var(--box-shadow);
}

.form-control{
  border-radius: 0;
}

.form-control:focus{
  border: 2px solid var(--btn-primary);
  box-shadow: none;
}

.form-group{
  position: relative;
  margin-bottom: 30px;
}

.form-control-error{
  position: absolute;
  font-size: 14px;
  color: var(--btn-danger);
}

.alert {
  margin-bottom: 30px;
  border-radius: 0;
  font-size: 14px;
}

@media (max-width: 576px){
  .form-container{
    margin-top: 15px;
  }
}
