h2{
  margin: 0;
  padding: 0 0 30px 0;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

a{
  color: var(--primary-btn);
}

label{
  margin-bottom: 0;
}

button{
  border-radius: 0;
}

.row{
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.form-container{
  margin-top: 25px;
  padding: 25px;
  background: var(--primary-color);
  -webkit-box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.form-control{
  border-radius: 0;
}

.form-control:focus{
  border: 2px solid var(--primary-btn);
  box-shadow: none;
}

.form-group{
  position: relative;
  margin-bottom: 30px;
}

.form-container .btn{
  width: 100%;
  border: var(--primary-btn);
  font-size: 20px;
  text-transform: uppercase;
  background: var(--primary-btn);
}

.form-control-error{
  position: absolute;
  font-size: 14px;
  color: var(--danger-btn);
}

.alert {
  margin-bottom: 30px;
  border-radius: 0;
  font-size: 14px;
}

@media (max-width: 576px){
  .form-container{
    margin-top: 15px;
  }
}
