<div class="container">
  <h2 class="title">
    All projects
  </h2>
  <div class="row">
    <div class="col-12 mb-3">
      <div class="alert alert-{{message.type}}"
           *ngIf="message.text">
        {{message.text}}
      </div>
    </div>
    <div class="col-12 mb-5">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control w-100" type="search"
               placeholder="Search..."
               name="search"
               [(ngModel)]="searchValue">
      </form>
    </div>
    <ng-container
      *ngIf="( projects | filter : searchValue) as result">
      <div
        class="alert-info"
        *ngIf="result.length === 0">
        Empty list projects
      </div>
    </ng-container>
    <div class="col-sm-12 col-md-6 col-lg-4"
         *ngFor="let project of  projects | filter:searchValue;" >
      <div class="card">
        <div class="card-body d-flex flex-column justify-content-between">
          <h5 class="card-title">
            {{project.title}}
          </h5>
          <p class="card-text flex-shrink-1 flex-grow-1">
            {{project.description}}
          </p>
          <button class="btn btn-primary w-100"
                   (click)="edit(project)">
            Edit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

