<div class="modal-header">
  <h4 class="modal-title">Add user to project</h4>
</div>
<div class="modal-body">
  <p>Are you sure you want to add users in "{{name_project}}" project?</p>
</div>

<ng-multiselect-dropdown
  [placeholder]="'custom placeholder'"
  [data]="users"
  [(ngModel)]="selectedItems"
  [settings]="dropdownSettings"
  (onSelect)="onItemSelect($event)"
  (onSelectAll)="onSelectAll($event)"
>
</ng-multiselect-dropdown>
<div class="modal-footer">
  <button class="btn btn-info" (click)="info()">info</button>
  <button class="btn btn-secondary" (click)="activeModal.dismiss()">Cancel</button>
  <button class="btn btn-danger" (click)="activeModal.close()">Ok</button>
</div>
