button{
  border-radius: 0;
  font-size: 16px;
  text-transform: uppercase;
}

.title{
  font-weight: 700;
}

.modal-header,
.modal-footer{
  border: none;
}

.close{
  outline: none;
}

.btn-success{
  background: var(--btn-success);
  border-color: var(--btn-success);
}

.btn-success:hover{
  background: var(--btn-success-hover);
  border-color: var(--btn-success-hover);
}

.btn-danger{
  background: var(--btn-danger);
  border-color: var(--btn-danger);
}

.btn-danger:hover{
  background: var(--btn-danger-hover);
  border-color: var(--btn-danger-hover);
}
